.mySwiper {
  /* height: 100%;
  max-height: 100vw;
  // CSS Grid/Flexbox bug size workaround
  // @see https://github.com/kenwheeler/slick/issues/982
  min-height: 0;
  min-width: 0;
  width: 100%; */
  /* overflow: hidden; */
  max-width: 100%;
  display: flex;
}

/* .mySwiper .swiper-wrapper {
  max-width: 100%;
} */
/* 
.mySwiper .swiper-slide {
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
} */
